.main{
    background-color:rgb(49, 189, 231);
 : rgba(150, 190, 202, 0.699) 10px 10px;   box-shadow
    margin-left: 440px;
    margin-right: 300x;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3%;
    
 }
 .secondbox{
    background-color:rgb(185, 224, 236);
    border-radius: 3%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
 }
 .img{
    border-radius: 3%;
    display: block;
 }
 .backcolor{
    background-color: yellow;
    font-family: 'Times New Roman';
    font-weight: bold;
 }
 .b{
    background-color: yellow;
    font-weight: bold;
 
 }